/* Spinner */

.spinner {
  display: flex;
  align-items: "center";
  justify-content: "center";
  height: "100%";
  margin: 50%;
  text-align: center;
}

/* Panel Styles Main containers */

.panel {
  height: calc(100vh - 4rem);
  color: white;
  border-radius: 0.2rem;
  display: flex;
  row-gap: 0.25rem;
  border-radius: 0.25rem;
  min-width: 350px;
}

.panelDisplay {
  height: 100%;
}

.panelNav {
  height: 100%;
  width: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333333;
  border-radius: 0.25rem;
  margin: 0 0.15rem;
}

/* PANEL NAV */

.panelNav a {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.2s;
}
.panelNav a:hover {
  background-color: #454444;
}

.panelNav .selectedTab {
  background-color: #3f6fff8c;
}

.panelNav .selectedTab:hover {
  background-color: #3f6eff;
}

.panelNavIcon {
  width: 2rem;
  height: 2rem;
  color: white;
}

.selectedTab .panelNavIcon {
  color: #c4d2fd;
}

/* PANEL DISPLAY MAIN DIVS*/
.stockData {
  padding: 1rem;
  background-color: #333333;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.favorites {
  color: white;
  background-color: #333333;
  padding: 1rem;
  text-align: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.stockNews {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #333333;
  padding: 2rem 1rem 3rem 1rem;
  text-align: left;
}

/* PanelHeader */
.panelDataHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  column-gap: 0.5rem;
  text-align: left;
}

.headerRow {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}

.headerRow .time {
  text-align: right;
  font-size: 0.8rem;
}

.panelDataHeader h2 {
  text-align: left;
  font-size: 1rem;
  width: fit-content;
}

.panelDataHeader a {
  width: min-content;
}

.panelDataHeader img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.star {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
}

.star:hover {
  color: gold;
}

.starred {
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  color: gold;
}

/* Panel Body */

.panelBody {
  padding-top: 1rem;
}

.panelDataDiv::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #aeaeae;
  border-radius: 0.5rem;
}

.panelDataDiv::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 0.5rem;
}

.panelSubHeader {
  display: flex;
  width: fit-content;
  column-gap: 0.5rem;
  text-align: left;
  justify-content: space-around;
  padding-bottom: 0.5rem;
  align-items: center;
}

.panelSubHeader a {
  text-decoration: none;
  cursor: pointer;
}

.panelSubHeader p {
  width: auto;
  font-size: 0.8rem;
  color: #bebebe;
}

/* .panelSubHeader {
  display: flex;
  width: auto;
  column-gap: 0.5rem;
  text-align: left;
  padding-bottom: 0.5rem;
  align-items: center;
}

.panelSubHeader p {
  font-size: 0.8rem;
  width: min-content;
  color: #bebebe;
} */

.summaryStats {
  display: flex;
  text-align: left;
  column-gap: 0.5rem;
  align-items: baseline;
  width: min-content;
  padding-top: 1rem;
}

.summaryStats p {
  font-size: 0.9rem;
}

.keyStats {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  row-gap: 0.5rem;
  align-items: center;
  text-align: left;
  margin-top: 1.5rem;
}

.keyStats h4 {
  grid-column: 1 / 3;
  padding-bottom: 0.5rem;
}

.keyStats p {
  font-size: 0.9rem;
  width: 100%;
  padding-top: 0.25rem;
}

.keyStats .statLabel {
  font-size: 0.7rem;
  color: #bebebe;
}

/* favorites */

.favorites::-webkit-scrollbar {
  width: 0.75rem;
  background-color: #aeaeae;
  border-radius: 0.5rem;
}

.favorites::-webkit-scrollbar-thumb {
  background-color: #424242;
  border-radius: 0.5rem;
}

.favorites p {
  font-size: 0.85rem;
}

.favorites h4 {
  font-size: 0.9rem;
  font-weight: 500;
}

.favoriteListLabel {
  display: flex;
  color: #aeaeae;
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
  width: calc(100% - 1rem);
}

.favoriteItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0.25rem 0;
  line-height: auto;
}

.favoriteItemData {
  display: flex;
  text-align: left;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  padding: 0.2rem;
}

.favoriteItemData:hover {
  background-color: #424242;
  border-radius: 0.25rem;
}

.removeIcon {
  border-radius: 0.1rem;
  cursor: pointer;
  width: min-content;
  margin: 0.2rem;
}

.removeIcon:hover {
  background-color: #333;
  color: red;
}

/* News Card Styles */

.stockNews::-webkit-scrollbar {
  background-color: #333333;
  width: 0.75rem;
}

.stockNews::-webkit-scrollbar-thumb {
  background-color: #3f6fff8c;
  border-radius: 0.25rem;
}
.stockNews:hover::-webkit-scrollbar-thumb {
  background-color: #3f6eff;
}

.stockNews h3 {
  padding-bottom: 1.5rem;
}

.newsItem {
  background-size: cover;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
}

.newsItem:hover {
  background-color: #494949;
}

.newsItem p {
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.titleLink {
  text-decoration: none;
  color: white;
}

.storyDivider {
  border: solid 0.5px white;
  margin-bottom: 0.5rem;
}

/* PANEL NAV STYLES */
