.newsCardSection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 100vw;
}

.newsCardDiv {
  background-color: #241f2a;
  padding: 2rem;
  margin: 2rem;
  width: min-content;
  height: min-content;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 1rem;
}

.newsCardDiv img {
  padding: 1rem;
  width: 400px;
  height: auto;
}

.title {
  line-height: 2rem;
}
