* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.App {
  text-align: center;
  background-color: #333333;
  min-height: 100vh;
  max-width: 100vw;
}

/* Stock Search Styles */

.topBar {
  padding: 3rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.searchBar {
  min-width: 500px;
  height: 3rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #333333;
  border-radius: 2rem;
}

.searchBar[type="text"]:focus {
  border: none;
  outline: none;
}

.currentStock {
  color: white;
}

/* Landing Page  */
.landingPage {
  width: inherit;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.landingPage img {
  width: 100%;
  height: auto;
  padding-top: 4rem;
}

/* Menu Styles */

.menuNav {
  margin-left: 3rem;
  padding: 1rem;
  background-color: #241f2a;
  width: min-content;
  display: flex;
  column-gap: 1rem;
  border-radius: 1rem;
}

.menuNavItem {
  background-color: #241f2a;
  border: none;
  padding: 0.5rem 2rem;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.menuNavItem:hover {
  background-color: #333333;
  border-radius: 0.75rem;
}

.menuNavItemSelected {
  background-color: #3f6eff;
  border: none;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem;
  color: white;
  cursor: pointer;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}
